body {
  min-height: 100vh;
  font-family: 'Andale Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);

  //清除input記憶底色
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: initial;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

/* 系統顏色 */
:root {
  --primary-color: #4c5356;
  --danger-color: #dc3545;
}
