body {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* 系統顏色 */
:root {
  --primary-color: #0b1697;
  --danger-color: #dc3545;
}
